<mat-card>
  <mat-card-content>
    <mat-card-title style="margin-left:20px">List of Fundings</mat-card-title>
    <mat-list *ngFor="let funding of fundings" style="width:100%; margin:20px auto">
      <mat-list-item>
        <mat-card style="width: 100%">
          <mat-card-content style="width: 100%; display: flex;">
            <span style="width: 10%; margin-right: 25px">{{funding.name}}</span>
            <mat-divider [vertical]="true"></mat-divider>
            <ng-container *ngIf="this.auth.isAuthenicated">
              <ng-container *ngIf="funding.investment != null">
                <a [routerLink]="['/investment', funding.id]">Show investment</a>
              </ng-container>
              <ng-container *ngIf="funding.investment == null">
                <a [routerLink]="['/investment', funding.id]">Click to invest</a>
              </ng-container>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
