<mat-card>
  <mat-card-title>{{funding.name}}</mat-card-title>
  <mat-card-content>
    <p>
      {{funding.text}}
    </p>
    <ng-container *ngIf="funding.investment">
      <p>Amount invested</p>
      <p>
        {{funding.investment.value}}
      </p>
    </ng-container>

    <ng-container *ngIf="!funding.investment">

      <form name=" form" (ngSubmit)="post(investment)" #investmentForm="ngForm">
        <mat-form-field class="form-group">
          <input matInput [(ngModel)]="investment.value" id="value" name="value" #value="ngModel" type="number"
            placeholder="Invesment value" class="form-control" required min=100 max=10000>

          <mat-error *ngIf="value.hasError('required')">
            Investment value is required
          </mat-error>
          <mat-error *ngIf="value.hasError('min')">
            Minumum invesment is 100
          </mat-error>
          <mat-error *ngIf="value.hasError('max')">
            Maximum invesment is 10000
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button [disabled]="!investmentForm.form.valid" color="primary">Post</button>
        </mat-card-actions>
      </form>
    </ng-container>
  </mat-card-content>
</mat-card>
