<mat-card>
        <h1>{{errorMessage}}</h1>
    <form [formGroup]="form" (ngSubmit)="auth.login(form.value)">
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!form.valid">Login</button>
    </form>
</mat-card>